<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>   <!--테일윈즈-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">   <!--폰트어썸-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css" /> <!--데이지 UI 추가 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>LIVE TICKET</title>
</head>

<body class="h-screen">
<th:block th:replace="~{global/fragments/navbar :: navbarFragment}"></th:block>  <!--상단바-->


<div class="mx-auto flex" style="width: 1200px">
    <th:block layout:fragment="content"></th:block>
</div>

<th:block layout:fragment="script"></th:block>   <!--스크립트-->

<th:block th:replace="~{global/fragments/footer :: footerFragment}"></th:block> <!--하단바-->

<!-- [E]basic-N4 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script th:src="@{/js/setting.js}"></script>
<script th:src="@{/js/plugin.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>

