<footer th:fragment="footerFragment" xmlns:color="http://www.w3.org/1999/xhtml">
  <div class="basic-N4" data-bid="GSLrPtHxv1" style="background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
            <img th:src="@{/images/jj-logo.png}" alt="로고"  style="width: 200px; height: 50px;">
          </a>
        </h1>
        <ul class="footer-snslist" style="font-size: var(--fs-p4);">
          <li class="footer-menuitem">
            <a href="javascript:void(0)" style="color: gray;">
              <span>이용안내</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)" style="color: gray;">
              <span>고객지원</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p>
            <span>고객센터 T. 1234-1234</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>2024 BY JOLLYJOURNEY. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </div>
</footer>