<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content" class="container mx-auto p-4 bg-white rounded">
  <th:block th:fragment="custom-css">
    <style>

    </style>
  </th:block>

  <!-- code -->

  <div class="flex items-center justify-center">
    <div class="bg-white shadow-md rounded-md p-8 w-full max-w-md">
      <div class="text-center">
        <h2 class="text-2xl font-bold text-gray-900 mb-6">로그인</h2>
      </div>

      <form th:action="@{/members/login}" method="post" th:object="${loginFormDto}" class="space-y-6">
        <!-- error message -->
        <div class="mb-4" th:if="${param.error}">
          <div class="block text-gray-700 text-sm font-bold mb-2 text-red-500">
            이메일 또는 비밀번호를 확인해 주세요.
          </div>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">이메일</label>
          <input type="email" id="email" name="email" th:field="*{email}"
                 placeholder="ex) hongildong@naver.com"
                 class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>

        <div class="mb-4">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">비밀번호</label>
          <div class="relative">
            <input type="password" id="password" name="password" th:field="*{password}"
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
            <span id="togglePassword" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <i class="fas fa-eye"></i>
          </span>
          </div>
        </div>

        <div>
          <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue" style="background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118))">
            로그인
          </button>
        </div>
      </form>

<!--      <div class="mb-4 space-y-6">-->
<!--        <a href="https://kauth.kakao.com/oauth/authorize?client_id=f2f920fa80fb6a713e0c68131c45af33&redirect_uri=http://localhost:8080&response_type=code">카카오 로그인</a>-->
<!--      </div>-->

      <div class="space-y-6 mb-4" style="margin-top: 30px; display: flex; justify-content: center; align-items: center;">
        <a th:href="@{/oauth/kakao}">
          <img th:src="@{/images/kakao_login_medium_narrow.png}" style="width:150px; height:40px;">
        </a>
      </div>


      <p class="mt-6 text-center text-sm text-gray-500">
        회원이 아니신가요?
        <a href="/members/join" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">가입하기</a>
      </p>
    </div>
  </div>

</div>
<div layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){
      $('#togglePassword').click(function(){
        // 패스워드 입력란(input) 객체를 가져온다.
        var passwordInput = $('#password');
        // 입력란(input)의 타입을 체크한다.
        var type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
        passwordInput.attr('type', type); // 입력란의 타입을 토글한다.

        // 아이콘을 변경한다.
        $(this).find('i').toggleClass('fa-eye fa-eye-slash');
      });
    });
  </script>
</div>
</html>